.home-container {
  padding: 20px;
  height: calc(100vh - 90px);
  overflow-y: auto; /* вертикальная прокрутка  */
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 40px;
}

h2 {
  margin-left: 40px;
  margin-bottom: 20px;
  color: white;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Горизонтальная прокрутка */
  padding-bottom: 10px;
  gap: 20px;


  scrollbar-width: none;
  -ms-overflow-style: none;  /* скрываем прокрутки */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и других WebKit-браузеров */
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.playlist-item, .artist-item, .podcast-item {
  width: 200px;
  height: 200px;
  background-color: #2e2e2e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-shrink: 0; /* Чтобы элементы не сжимались */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.playlist-item:hover, .artist-item:hover, .podcast-item:hover {
  transform: scale(1.015); /* зум при наведении */
}



@media (max-width: 780px) {
  h2 {
      font-size: 20px;
  }
  .playlist-item, .artist-item, .podcast-item {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  h2 {
      font-size: 16px;
  }
  .playlist-item, .artist-item, .podcast-item {
       width: 100px;
       height: 100px;
  }
  .horizontal-scroll {
    gap: 10px;
  }
}