.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

.big-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 60px;
  }

.user-info h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
  }

  .user-info p {
    margin: 13px 0 0 0;
    font-size: 15px;
    color: #ccc;
  }

.edit-profile-button {
    background-color: #332b6ed6;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
  }

  .edit-profile-button:hover {
    background-color: rgb(222, 217, 239);
    color:#000000
  }
