.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: calc(100vh - 50px);

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .big-profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 60px;
      object-fit: cover;
      object-position: center;
      transition: border 0.2s ease;  // Плавное изменение границы

      &.editing {
        border: 1.5px solid #ffffff;  // Добавляем границу в режиме редактирования
      }
    }

    .user-info {
      h2 {
        margin: 0;
        font-size: 24px;
        color: #fff;
      }
      .user-info-name {
        display: flex;
        flex-direction: row;
        padding-bottom: 12px;
      }

      p {
        margin: 13px 0 0 0;
        font-size: 15px;
        color: #ccc;
      }
    }
  }

  .edit-profile-button {
    background-color: #332b6ed6;
    color: white;
    border: none;
    padding: 6px 35px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;

    &:hover {
      background-color: rgb(222, 217, 239);
      color: #000000;
    }
  }

  .divider {
    width: 100%;
    border: none;
    height: 3px;
    background-color: rgba(136, 132, 162, 0.287);
    border-radius: 5px;
    margin: 20px 0;
  }

  .history-title {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 5px;
  }

  .history-section {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }

  .history-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .history-item {
      width: 140px;
      height: 140px;
      background-color: #2e2e2e;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      flex-shrink: 0;
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

.edit-input {
  border: 1px solid rgba(214, 208, 253, 0.437);
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  margin-right: 30px;
  width: 160px;
  text-align: center;
  font-weight: bold; 
  background-color: rgba(255, 255, 255, 0.059) ;
  color: #fff;
  outline: none;

  &:focus {
    border-color: #5941c1;
    box-shadow: 0 0 3px rgba(136, 85, 255, 0.6)
  }

  &::placeholder {
    color: #ccc;
    font-weight: normal;
  }
}

.profile-picture-label {
  position: relative;
  cursor: pointer;

  &:hover .big-profile-picture {
    opacity: 0.8;
  }
}

.save-changes-button {
  background-color: rgb(76, 81, 175);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.437);
  padding: 6px 35px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px;

  &:hover {
    background-color: rgb(40, 40, 68);
    color: #9c9c9c;
  }
}
