$primary-bg-color: rgba(74, 74, 74, 0.538);
$border-color: rgba(255, 255, 255, 0.383);
$hover-bg-color: #e0e0e091;
$active-bg-color: rgb(215, 215, 215);
$active-color: #000;
$text-color: #ddd;
$placeholder-color: #b9b9b9;
$gradient-bg: linear-gradient(to bottom, #4caf50, rgb(139, 39, 23));
$hover-transform: scale(1.02);
$mobile-font-size: 16px;
$mobile-margin-left: 20px;
$tablet-font-size: 13px;
$tablet-margin-left: 10px;


.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;

    .search-input {
        width: 100%;
        max-width: 600px;
        padding: 10px;
        margin-bottom: 33px;
        font-size: 16px;
        border: 1px solid $border-color;
        border-radius: 11px;
        background-color: $primary-bg-color;
        color: #ffffff;

        &::placeholder {
            color: $placeholder-color;
            opacity: 1;
        }
    }


    .search-options {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .search-option {
            padding: 3px 20px;
            margin: 3px 9px;
            border: none;
            background-color: rgba(255, 255, 255, 0.113);
            color: $text-color;
            cursor: pointer;
            font-size: 16px;
            border-radius: 6px;
            transition: background-color 0.2s;

            &:hover {
                background-color: $hover-bg-color;
            }

            &.active {
                background-color: $active-bg-color;
                color: $active-color;
            }
        }
    }
}

// Заголовок жанров
.genres-heading {
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: 120px;
    align-self: flex-start;
    text-align: left;
    width: 100%;
    color: white;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;

    .search-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        width: 120px;
        border-radius: 6px;

        .result-cover {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 8px;
        }

        .result-info {
            color: #fff;

            .result-title {
                font-weight: bold;
                margin-bottom: 4px;
            }

            .result-details {
                font-size: 0.9em;
                color: #ddd;
            }
        }
    }

    .track {
        background-color: $primary-bg-color;
    }

    .playlist {
        background-color: $primary-bg-color;
    }

    .artist {
        background-color: $primary-bg-color;
    }
}


