
.page-title-container {
  background-color: rgba(46, 46, 46, 0.8);
  border-radius: 12px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.page-title {
  color: rgb(164, 158, 203);
  margin: 0;
  font-size: 25px;
}

@media (max-width: 780px) {
  .page-title {
      font-size: 18px;
  }
  .page-title-container {
    padding: 8px 29px;
  }
}

@media (max-width: 490px) {
  .page-title {
      font-size: 13px;
  }
  .page-title-container {
    padding: 4px 20px;
  }
}
