
.player {
  position: fixed;
  bottom: 5px;
  left: 8px;
  width: calc(100% - 20px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.684);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 12px;
  margin-right: 12px;
}

.player-range {
  width: 75%;
}

.player-info {
  width: 18%;
  text-align: center;
}
