.sidebar {
  width: 16%;
  background-color: #0000009c;
  position: fixed;
  left: 8px;
  top: 8px;
  height: 83svh;
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}


.logo-icon {
  width: 90%;
  max-width: 130px;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin: 10px 0; /* Оставьте отступ между элементами списка */
  padding: 0; /* Убедитесь, что нет отступов у самого элемента списка */
  text-align: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: inline-block; /* Используйте inline-block для контроля размера */
  padding: 10px 40px; /* Увеличьте отступы для ширины */
}

.nav-links li a:hover {
  background-color: rgb(42, 43, 68);
  border-radius: 9px; /* Закругленные края */
}
